<h1>Create a Team and Heroes!</h1>

  <form method="post" action="/teams">
    
    <label for="team[name]">Team Name:</label>
    <input type="text" id="name" name="team[name]"><br>
    
    <label for="team[motto]">Team Motto:</label>
    <input type="text" id="team[motto]" name="team[motto]"><br>

    <h2>Hero 1</h2>
    <label>Hero's Name</label>
    <input id="member1_name" type="text" name="team[members][][name]" >

    <label>Hero's Power</label>
    <input id="member1_power" type="text" name="team[members][][power]" >

    <label>Hero's Biography</label>
    <input id="member1_bio" type="text" name="team[members][][bio]" >

    <h2>Hero 2</h2>
    <label>Hero's Name</label>
    <input id="member2_name" type="text" name="team[members][][name]" >

    <label>Hero's Power</label>
    <input id="member2_power" type="text" name="team[members][][power]" >

    <label>Hero's Biography</label>
    <input id="member2_bio" type="text" name="team[members][][bio]" >

    <h2>Hero 3</h2>
    <label>Hero's Name</label>
    <input id="member3_name" type="text" name="team[members][][name]" >

    <label>Hero's Power</label>
    <input id="member3_power" type="text" name="team[members][][power]" >

    <label>Hero's Biography</label>
    <input id="member3_bio" type="text" name="team[members][][bio]" >

    <input type="submit" value="submit">
</form>